
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
  }  
  
  h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
  }
